@import 'variables';

%btn {
    color: white;
    border-radius: 25px;
    padding: 15px;
    font-size: 16px;
    background:$btn-bg-color;
    border: none;
    font-weight: 500;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    width: 250px;
    height: 50px;
    transition: all 200ms;
   
    @include light-btn;
}
   


    

