@import'variables';
@import 'utilities';
@import 'buton';
@import 'pagemenu';
@import 'footer';
@import 'flexbox';





/******page d'accueil mobile/desktop********/


/********** debut header **********/
header {
    display: flex;
    justify-content: center;

    .logo {

        display: flex;
        justify-content: center;



    }

    .return {
        display: inline-block;
        position: absolute;
        left: 21px;
        top: 25px;
        font-size: 25px;
        color: #353535;

    }

    img {
        text-align: center;
        width: 200px;


    }
}

/******fin header **********/

/********** contenu principal **********/

.localisation {
    @extend %flex-column;


    .localisation-form {

        text-align: center;
        background-color: $background-color;
        width: 100%;
        padding: 0 0 30px 0;


        .input-form {

            @extend %flex-row;
            justify-content: center;
            position: relative;



        }

        .text {
            width: 100%;
            border: none;
            padding: 10px;
            background-color: rgb(232, 232, 234);
            box-shadow: rgba(0, 0, 0, 0.06) 0px 5px 4px 0px inset;
        }

        .text::placeholder {
            color: rgb(57, 68, 93);
            text-align: center;

        }

        i {
            width: 100%;
            padding: 6px 0 10px;
            position: absolute;
            left: -60px;
            right: 50px;

        }

        .btn-primary {
            @extend %btn;


        }


    }

    .steps {

        width: 100%;
        @extend %flex-column;

        


        .section-content {
            width: 100%;



            @media (min-width: 768px) {

                width: 80%;

            }

            @media (min-width: 1000px) {

                width: 80%;

            }

            h2 {
                width: 100%;
                padding-left: 30px;

                @media (min-width: 768px) {
                    width: 80%;
                    text-align: left;
                }
            }

            .steps-list {
                //ol

                list-style-type: none;
                @extend %flex-row;
                flex-wrap: wrap;
                justify-content: space-around;
                gap: 20px;
               
               
                padding-left: 30px;


                @media (min-width: 1000px) {justify-content: space-around; }

                .steps-item {
                    //li
                    padding: 0;
                    width: 90%;
                    max-width: 335px;
                    width: 300px;
                    
                    min-width: 250px;
                    display: inline-flex;
                    gap: 10px;
                    border: 2px solid $background-color;
                    margin-bottom: 20px;
                    padding: 15px;

                    border-radius: 15px;
                    background-color: $background-color;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

                    i {

                        color: gray;
                        @extend %flex-column;
                        justify-content: center;


                        i:hover {

                            color: $primary-color;
                        }
                    }



                    .number {
                        //mise en forme

                        @extend %flex-column;
                        //mise en couleur
                        background-color: $primary-color;
                        color: white;
                        border-radius: 50px;
                        font-size: 10px;
                        padding: 7px;
                        //deplacer le chiffre
                        position: relative;
                        right: 25px;
                        line-height: 7px;

                    }
                }
            }
        }
    }

    .restaurants {

        background-color: $background-color;
        width: 100%;
        padding-bottom: 70px;

        .restaurants-style {

            width: 100%;
            @extend %flex-column;

            h2 {

                width: 100%;
                padding-left: 30px;

                @media (min-width: 768px) {
                    width: 80%;
                }

                @media (min-width: 1000px) {
                    width: 80%;
                }
            }

            .restaurants-cards {
                width: 90%;
                @extend %flex-column;
                justify-content: center;
                gap: 10px;

                @media (min-width: 768px) {

                    @include style-cards;

                }


            }

            .restaurants-cards a {
                width: 100%;



                @media (min-width: 768px) or (min-width: 1000px) {
                    width: 40%;
                }



            }

            .restaurants-cards img {

                height: 200px;
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;


            }

            .restaurants-cards .card {

                display: flex;
                flex-direction: column;
                background-color: white;
                border-radius: 20px;
                padding-bottom: 10px;
                filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

                & .btn-secondary {

                    @extend %btn-tertiary;

                }

            }

            .restaurants-cards .card .card-content {
                @extend %flex-row;
                justify-content: space-between;
                font-size: 18px;
            }



            .card-add {
                @extend %flex-row;
                align-items: center;
                border: none;
                padding-right: 20px;

                /******* heart  card *******/
                i {
                    font-size: 20px;
                    position: absolute;
                    right: 20px;
                    top: 220px;

                }


                .fa-solid {
                    opacity: 0;
                    transition: 2s;

                }

                .fa-solid:hover {
                    opacity: 1;
                    color: transparent;

                    background: linear-gradient(to top, $primary-color, $secondary-color);
                    background-clip: text;
                    -webkit-background-clip: text;


                }



            }

            .card-txt h3,
            .card-txt p {
                margin: 7px;
                padding-left: 5px;

            }
        }

    }

}