

%btn {
    color: white;
    border-radius: 25px;
    padding: 15px;
    font-size: 16px;
    background: $btn-bg-color;
    border: none;
    font-weight: 500;
   box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

    width: 218px;
    height: 50px;
    
    transition: all 200ms;

    @include light-btn;
}

%btn-tertiary {

    background-color: $tertiary-color;
    color: #008766;
    font-weight: 700;
    width: 80px;
    height: 29px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    position: absolute;
    right: 30px;
    top: 20px;

}