%check {


    .cloche {
        display: flex;
        gap: 70px;



        .check {
            background-color: $tertiary-color;
            width: 59px;
            border: none;
            border-radius: 0 15px 15px 0;

            transform: translateX(60px);
            transition: all 0.5s;
            


        }
    }

    .price {
        display: flex;
        font-size: 14px;
        font-weight: 600;
        align-items: end;
        justify-content: flex-end;

        padding: 0px;
        width: 108px;
        padding-right: 5px;

        transform: translateX(50px);
        transition: all 0.5s;

        @media (min-width: 768px) {
            width: 91px;

        }
    }
    &:hover {
        & .cloche {
           // transform: translateX(0px);

            .check {
                transform: translateX(0px);
            }
        }

        & .price {
            transform: translate(0px);
        }

        h3,
        .description {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

   
}