%liked{

    .fa-solid {
        opacity: 0;
        transition: 2s;
        color: transparent;
    }

    .fa-solid:hover {

        opacity: 1;
        background: var(--Button-Gradient, linear-gradient(193deg, $primary-color -11.44%, $secondary-color 123.93%));
        background-clip: text;
        -webkit-background-clip: text;

    }

}