* {

    font-family: $font-primary;
    box-sizing: border-box;
}

.container {

    // max-width: 1440px;
    margin: 0 auto;
}

body {
    margin: 0;
    max-width: 1440px;
    margin: 0 auto;

}

a {
    text-decoration: none;
    color: inherit;
}

img {
    object-fit: cover;
}

.title-section {
    font-size: 24px;
    font-weight: 700;
    height: 68px;   

}

p {
    padding: 0 10px;   
   
}

.font-style {
    font-family: $font-secondary;
    font-size: 28px;
}
