//variables
$primary-color: rgb(147, 86, 220);
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$background-color: #f6f6f6;
$grey: #353535;
$btn-bg-color: linear-gradient(to top, $primary-color, $secondary-color);
$text:text;


//Fonts
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Shrikhand', empattement;






