
/***** section fonctionnement *****/
.steps {

    width: 100%;
    @extend %flex-column;
    padding-bottom: 48px;
    height: 50%;
    


    .section-content {
        width: 100%;
        


        @media (min-width: 768px) {

            width: 100%;            

        }

        @media (min-width: 1024px) {

            width: 80%;
            

        }

        h2 {
            width: 100%;
            height: 31px;
            padding: 48px 80px 48px 20px;
           

            @media (min-width: 768px) {
                width: 80%;
                text-align: left;
            }
        }

        .steps-list {
            //ol

            //list-style-type: none;
            @extend %flex-row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 36px;
            padding-inline-start: 20px;
           
           
          
            @media (min-width: 768px) {
                
                }

            @media (min-width: 1024px) {
                
                flex-wrap: nowrap;
                justify-content: space-around;
                padding-inline-start: 25px;
               
             }

            .steps-item {
                //li
                
                
                max-width: 335px;
                min-width: 250px;

                width: 90%;
                height: 72.4px;
                
              
                display: flex;
                align-items: center;
               
                gap: 15px;

               
                
                border-radius: 20px;
                background-color: $background-color;
               
                box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

                i {

                    color: gray;
                    @extend %flex-column;
                    justify-content: center;


                    i:hover {

                        color: $primary-color;
                    }
                }



                .number {
                    //mise en forme
                    width: 15.273px;
                    height: 14.545px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    //mise en couleur
                    background-color: $primary-color;
                    color: #ede8e8;
                    border-radius: 50px;
                    font-size:14.182px;
                   
                    //deplacer le chiffre
                    position: relative;
                    right: 10px;
                    
                   




                }
            }
        }
    }
}